manifest {
  name = 'BEAST-FLOW'
  author = 'Jessica M Caleta'
  homePage = ''
  description = 'Bayesian Evolutionary Analysis Sampling Trees (BEAST) - Nextflow\
  \n-- Molecular Clock --'
  mainScript = 'main.nf'
  version = '0.1.6'
}

//pipeline parameters

params{

//help message
help = null

//version number
version = null

//input multifasta of seqs under Analysis
multi_fa = null

/**name stem that will be used in naming output files
ex. delta in delta.log, delta.xml
*/
prefix = null

//output directory
out_dir = "${projectDir}/output"

//evolutionary model
evo_model = 'GTR+G'

/**proceed with beast analysis after checking for temporal signal and
mistakenly labeled sequences
*/
run_part2 = false

/**beauti additional arguments for use in BEAST:
Markov chain length &
how often paramter values are sampled/logged - too infrequent will
result in inaccurate estimates of parameter distributions.
*/
//avoid backslash being interpreted by Groovy as string escape char. Alternatively, putting command in template works.
xml_args = $/--chainLength 1000000 \
--traceLogEvery 100 \
--treeLogEvery 100 \
--screenLogEvery 100 \
--sequenceIdDateRegex '^[RE]\d+_(?P<year>\d\d\d\d)-(?P<month>\d\d)-(?P<day>\d\d)' \
--dateDirection backward /$

xml_temp = "${projectDir}/strict.xml"

//BEAST additional options
beast_args = '-overwrite'

//treeannotator
treeann_args = '-burnin 10' //percentage

//iqtree arguments
iqtree_args = '-T 4 -B 1000'

}

//seamlessly run pipeline on different execution systems by modifying
//the process section of the config file. ex. AWS, SLURM, sun grid engine:
/**
process {
  executor='sge'
  queue = 'cn-el6'

  conda {
    process.conda = "$projectDir/beastflow_env.yml"
    conda.createTimeout = '1 h'
    }
}
*/
//profile{

//}

//html displaying breakdown of time taken to execute workflow
/**timeline {
  enabled = true
  file = "${params.out_dir}/${params.prefix}/reports/beast-flow_timeline.html"
}

//html of cpu/mem usage
report {
  enabled = true
  file = "${params.out_dir}/${params.prefix}/reports/beast-flow_report.html"
}
*/
//

//dag of beast-flow workflow
/**dag {
    enabled = true
    file = "${params.out_dir}/${params.prefix}/reports/beast-flow_dag.html"
}
*/
